.mainwrapper{
    @apply flex justify-center
}
.wrapper {
	@apply  rounded-2xl overflow-hidden shadow-xl relative animate-fade rounded-b-none;
    width: 100%;

	.controls {
		@apply flex-center-between absolute bottom-3 left-6 right-6;

		> div:first-child {
			@apply flex-center-between;

			> button {
				@apply text-2xl text-white mr-3 outline-none opacity-60 hover:opacity-100 transition-opacity;
			}

			.playButton {
				@apply text-xl;
			}

			.timeControls {
				@apply flex items-center text-white ml-4 ;

				> p:nth-child(2) {
					@apply mx-2;
				}
			}

			.volumeContainer{
				@media screen and (max-width:500px) {
					display: none;
				}
				.volumeSlider{
					-webkit-appearance: none;
					border-radius: 12px;
					height: 7px;
					outline: none;
					background: white;
					// linear-gradient(90deg, rgb(255, 153, 0) 60%)
				}
				.volumeSlider::-webkit-slider-thumb{
					-webkit-appearance: none;
					appearance: none;
					height: 20px;
					width: 20px;
					border-radius: 50%;
					background: rgb(255,154,0);
					cursor: pointer;
				}
				.volumeSlider::-moz-range-thumb{
					appearance: none;
					height: 20px;
					width: 20px;
					border-radius: 50%;
					background: rgb(255,154,0);
					cursor: pointer;
				}

			}
		}

		> div:last-child {
			@apply flex items-center;

			> button {
				@apply text-white text-3xl outline-none opacity-60 hover:opacity-100 transition-opacity;
			}
		}
	}

	.progressBarContainer {
		@apply absolute bottom-14 bg-gray-600 rounded-layout h-3;
        // left4 right-4
		width: calc(96%);
		left: 2%;
		right: 2%;

		.progressBar {
			@apply rounded-2xl h-full bg-white;
		}
	}

	.playCenterButton{
		position: absolute;
		color: orange;
		margin: auto;
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
		cursor: pointer;
		font-size: 4rem;
		line-height: 4rem;
	}

}


// .volume-container{
// 	border: 1px solid red;
// 	.volume-slider{
// 		width: 300px;
// 	}
// }