.heading {
	@apply mb-3;
}

.movies {
	@apply grid grid-cols-3 mt-8;
	column-gap: 15px;
	@media screen and (max-width:576px) {
		@apply grid-cols-1;
		}
	@media screen and (min-width:577px) {
		@apply grid-cols-2;
		}
	@media screen and (min-width:960px) {
		@apply grid-cols-3;
		}

	> a {
		@apply mr-8 animate-fade;
	}

	// > a:nth-child(3n) {
	// 	@apply mr-0;
	// }
}

.button {
	@apply btn-primary py-2 px-10;
}
