.content {
	@apply relative z-2 bg-gray-800;


	.likeRateViewsWrapper{
		// @media screen and (max-width:750px) {
		// 	@apply flex flex-col;
		// 	}
		@apply flex justify-between align-baseline;
		background-color: #101215;
		.views{
			@media screen and (max-width:500px) {
				display: none;
				}
			@apply flex text-lg text-white ml-4;
			align-items: center;
		}
		.likeRateWrapper{
			// @media screen and (max-width:750px) {
			// 	@apply flex justify-between text-white p-1;
			// 	align-items: center;
			// 	.rating {
			// 		@apply flex items-center text-sm opacity-90 justify-center;
			
			// 		> svg {
			// 			@apply fill-yellow-700 mb-0.5;
			// 		}
			
			// 		> span {
			// 			@apply text-white ml-2;
			// 		}
			// 	}
			// }
			@apply flex justify-between flex-row;
			.rating {
				@apply flex items-center text-xl opacity-90;
		
				// > svg {
				// 	@apply fill-yellow-700 mb-0.5;
				// }
		
				> span {
					@apply text-white ml-2;
				}
			}

		}
		

	}
	
	.contWrap{
		@apply p-2;
		> h2 {
			@apply text-white text-2xl font-semibold mb-1 text-shadow;
		}
	

	}

	
	// .rating {
	// 	// @apply absolute bottom-8 right-8 flex items-center text-xl opacity-90;
	// 	@apply flex items-center text-xl opacity-90;

	// 	> svg {
	// 		@apply fill-yellow-700 mb-0.5;
	// 	}

	// 	> span {
	// 		@apply text-white ml-2;
	// 	}
	// }

	.details {
		@apply text-white text-opacity-80 my-3;
	}
}
