@import '../../../../styles/variables.scss';


.gallery {
	@apply flex items-center overflow-x-auto flex-nowrap py-3;
	-webkit-overflow-scrolling: touch;

	&::-webkit-scrollbar {
		display: none;
	}
}


.actorWrapper{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}



.item {
	@apply relative transition-transform flex items-end shadow-lg rounded-layout overflow-hidden;
	flex: 0 0 auto;
	outline: 1px solid gray;
	
	&.vertical {
		@apply mr-4 last:mr-0 w-1/5;
		height: 800px;
		max-width: 200px;
	}

	&.horizontal {
		@apply mb-8;
		width: 240px;
        height:300px;
	}

	

	&.withText {
		@include fade-bg-gradient(0deg);
		&::before {
			@apply rounded-layout;
		}
	}

	img {
		@apply image-like-bg;
	}

	.content {
		@apply relative w-full z-2 m-3 ;


		.title {
			@apply font-semibold w-72 mb-1 text-white overflow-hidden text-ellipsis whitespace-nowrap;
			text-overflow: ellipsis;
		}

		.subTitle {
			@apply text-white text-opacity-100 w-max;
		}
	}
}