@import '../../../../styles/variables.scss';


.gallery {
	@apply flex items-center overflow-x-auto flex-nowrap py-3;
	-webkit-overflow-scrolling: touch;

	&::-webkit-scrollbar {
		display: none;
	}
}



.item {
	@apply relative transition-transform flex items-end shadow-lg rounded-layout overflow-hidden;
	flex: 0 0 auto;
	
	&.vertical {
		@apply mr-4 last:mr-0 w-1/5;
		height: 800px;
		max-width: 200px;
	}

	&.horizontal {
		@apply mb-8;
		width: 100%;
        // height: 236px;
		height: 400px;
		// @media screen and (max-width:576px) {
		// 	width: 100%;
		//   }
		// @media screen and (min-width:577px) {
		// 	width: 45%;
		//   }
		// @media screen and (min-width:960px) {
		// 	width: 33%;
		// }
	}

	

	&.withText {
		@include fade-bg-gradient(0deg);
		&::before {
			@apply rounded-layout;
		}
	}

	img {
		@apply image-like-bg;
	}

	.content {
		@apply relative w-full z-2 m-3 ;


		.title {
			@apply font-semibold w-72 mb-1 text-white overflow-hidden text-ellipsis whitespace-nowrap;
			text-overflow: ellipsis;
		}

		.subTitle {
			@apply text-white text-opacity-100 w-max;
		}
	}
}