.menu {
	@apply animate-fade flex flex-col;

	.heading {
		@apply text-white border-r-2 border-b-white;
	}

	&:focus {
		cursor: pointer;
		.submenu {
			display: flex;
			pointer-events: auto;
		}
    }

	&:hover {
		cursor: pointer;
    }

	.none{
		display: none;
	}

	.submenu {
		@apply pointer-events-none z-40;
		background-color: #191B1F;
		padding: 8px;
		border:1px solid gray;
		width: fit-content;
        transition: .3s;
		display: flex;
		flex-wrap: wrap;
        pointer-events: auto;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
		position: absolute;
		left: 0;
		top:15;
		// top:15;
			> li {
				@apply border-r-4 border-r-transparent transition-colors mb-1 ml-3;
				// position: relative;
				// top:0;
				> a {
					@apply flex items-center text-white cursor-pointer;
					> span {
						@apply text-lg hover:text-primary;
					}
					> svg {
						@apply text-2lg;
					}
					> span,
					> svg {
						@apply transition-colors;
					}
				}
				&.active {
					@apply border-r-primary;
					> a > span {
						@apply text-white;
					}
					> a > svg {
						@apply fill-primary;
					}
				}
			}

			> li:last-child{
				margin-bottom: 1.5rem;
			}
    
	}
	.ul {
		position: relative;

		margin-left: 0; padding-left: 0;
		> li {
			margin-left: 0; padding-left: 0;
			@apply border-r-4 border-r-transparent transition-colors;
			> a {
				@apply flex items-center text-gray-600 cursor-pointer;

				> span {
					@apply ml-3 text-lg hover:text-white;
				}

				> svg {
					@apply text-2lg;
				}

				> span,
				> svg {
					@apply transition-colors;
				}
			}

			&.active {
				@apply border-r-primary;
				> a > span {
					@apply text-white;
				}

				> a > svg {
					@apply fill-primary;
				}
			}
		}
	}
}

// .menu:hover{

// }

.menusFlex{
	background-color: #191B1F;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	
}

.heading {
	@apply text-orange-300 flex justify-center mb-3 ;
}

.actor{
	@apply text-white flex justify-center mb-3
}
