.heading {
	@apply mb-3;
}
.catalogWrapper{
	display: flex;
	justify-content: center;
	align-items: center;
}
.movies {
	@apply grid mt-8;
	column-gap: 15px;
	// grid-template-columns: 300px;
	@media screen and (max-width:500px) {
		@apply grid-cols-1;
		}
	@media screen and (min-width:501px) {
		grid-template-columns: 240px 240px;
		}
	@media screen and (min-width:759px) {
		grid-template-columns: 240px 240px 240px;
			}
	@media screen and (min-width:1082px) {
			@apply grid-cols-4;
			}
	@media screen and (min-width:1333px) {
		@apply grid-cols-5;
		}


	> a {
		@apply animate-fade;
	}

	> a:nth-child(3n) {
		@apply mr-0;
	}
}

.button {
	@apply btn-primary py-2 px-10;
}
